node_modules
.qodo/
scripts/
.vscode/
analysis-results/
.husky/
.env.production

# Test secrets

assets/
config/
docs/
/test-secrets/
electron/
migrations/
models/
nginx/
src/
build/
dist/
.env*
generate-keys.*
tsconfig.tsbuildinfo
clear_storage.js

test-secrets/
*.pem
.env.development
.env.production
.env.test
add_verification_columns.sql
clear-test-users.js
generate-keys.*
jest.env.setup.cjs
jest.setup.js
test-registration.js
test-registration.jse